@media (min-width: 1441px) {
    .why {
        padding-top:      70px;
        background-color: #F9F9F9;
        }

    .navbar {
        left: 75px;
        }
    }

@media (max-width: 1161px) {
    .reviews__items {
        max-width: 880px;
        gap:       25px;
        }

    .reviews__item {
        background-image: url("../img/podramnik320.png");
        padding:          10px;
        width:            275px;
        height:           365px;
        }

    .item__body {
        padding: 70px 0 0 22px;
        }

    .item__review {
        font-weight: 400;
        line-height: 20px;
        }

    }

@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;
        }

    /*=====================================================*/
    .menu__list {
        gap: 25px;
        }

    /*=====================================================*/
    .reviews__items {
        max-width: 880px;
        gap:       25px;
        }

    .reviews__item {
        background-image: url("../img/podramnik320.png");
        padding:          10px;
        width:            275px;
        height:           365px;
        }

    .item__body {
        padding: 70px 0 0 22px;
        }

    .item__review {
        font-weight: 400;
        line-height: 20px;
        }


    /*=====================================================*/
    .feedback__cards {
        width: 750px;
        }

    /*=====================================================*/
    .card {
        width: 750px;
        }

    .card__reviews {
        width: 750px;
        }


    }

@media (max-width: 1300px) {
    .get-started {
        height:           550px;
        padding-top:      100px;
        background-image: url("../img/getStarted/background1300.png");
        }

    .why {
        background-image: url("../img/Why/background1300.png");
        }

    .contact {
        background-image: url("../img/Contact/background1300.png");
        }

    /*=====================================================*/
    .service {
        align-items:     center;
        justify-content: center;
        gap:             30px;
        padding:         10px;
        }

    .service__text p {
        max-width: 830px;
        }

    /*=====================================================*/
    .delivery__col {
        text-align: center;
        }
    }

@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
        }

    .header__container {

        padding-top:    5px;
        padding-bottom: 20px;
        }

    .header__body {
        flex-direction: column;
        }

    /*=====================================================*/
    .get-started {
        padding-top:      195px;
        padding-bottom:   140px;
        background-image: none;
        }

    .get-started__container {
        align-items: center;
        }

    /*=====================================================*/
    .block-text {
        padding:       0 10px;
        margin-bottom: 40px;
        text-align:    center;
        }

    /*=====================================================*/
    .menu__list {
        gap:            40px;
        padding-bottom: 10px;
        }

    /*=====================================================*/
    .items__item {
        width: 100px;
        }

    /*=====================================================*/
    .why {
        background-image: none;
        }

    /*=====================================================*/
    .contact {
        background-image: none;
        }

    .contact__info {
        align-items: center;
        }

    /*=====================================================*/
    .feedback__cards {
        width: 450px;
        gap:   60px;
        }

    /*=====================================================*/
    .card {
        width: 450px;
        }

    .card__reviews {
        gap: 10px;
        }

    .card__reviews {
        width: 450px;
        }

    /*=====================================================*/
    .contact-page__content {
        align-items:    center;
        flex-direction: column;
        }

    .contact-page__column {
        width: 100%;
        }
    }

@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
        }

    .get-started {
        height:          700px;
        display:         flex;
        justify-content: center;
        align-items:     center;
        }

    /*=====================================================*/
    .header__burger {
        display:  block;
        position: relative;
        width:    30px;
        height:   16px;
        z-index:  100;
        }

    .header__burger:before,
    .header__burger:after {
        content:          "";
        background-color: #000;
        position:         absolute;
        width:            100%;
        height:           2px;
        left:             0;
        }

    .header__burger:before {
        top:        0;
        transition: all .3s;
        }

    .header__burger:after {
        bottom:     0;
        transition: all .3s;
        }

    .header__burger.close::before {
        transform:  rotate(45deg);
        top:        7px;
        transition: all .3s;

        }

    .header__burger.close::after {
        transform:  rotate(-45deg);
        bottom:     7px;
        transition: all .3s;

        }

    .header__burger span {
        position:         absolute;
        background-color: #000;
        left:             0;
        width:            100%;
        height:           2px;
        top:              7px;
        transition:       all .3s;
        }

    .header__burger.close span {
        opacity:    0;
        transition: all .3s;

        }

    .header__body {
        flex-direction:  row;
        justify-content: space-between;
        height:          50px;
        }

    .header__menu {
        position: fixed;
        top:      0;
        left:     0;
        width:    100%;
        height:   100%;
        }

    /*=====================================================*/
    .menu {
        width:      100vw;
        height:     100vh;

        padding:    0;

        opacity:    0;
        transform:  translateY(1000px);
        transition: all .3s;
        }

    .menu.open {
        opacity:          1;
        background-color: #F9F9F9;
        padding:          20px;
        transform:        translateY(50px);
        transition:       all .3s;
        }

    .menu__list {
        flex-direction: column;
        gap:            40px;
        }


    /*=====================================================*/
    .get-started__link {
        display:         flex;
        flex-direction:  column;
        justify-content: center;
        align-items:     center;
        }

    /*=====================================================*/
    .about {
        height: 540px;
        }

    .about__text {
        text-align: center;
        }

    /*=====================================================*/
    .block-text {
        padding:       0 10px;
        margin-bottom: 40px;
        text-align:    center;
        }

    /*=====================================================*/
    .reviews__item {
        max-width: 880px;
        }

    /*=====================================================*/
    .why__items {
        gap: 90px;
        }

    /*=====================================================*/
    .feedback__cards {
        width: 300px;
        gap:   135px;
        }

    /*=====================================================*/
    .card {
        flex-direction: column;
        margin-bottom:  40px;
        height:         70px;
        }

    .card__avatar {
        }

    .card__reviews {
        align-items: center;
        width:       300px;
        height:      50px;
        gap:         10px;
        }

    .card__text, card__text {
        text-align: center;
        }

    /*=====================================================*/
    .navbar {
        border-radius: 0;
        flex-direction:  row;
        align-items:     center;
        justify-content: center;
        width:           100%;
        height:          50px;
        bottom:          0;
        left: 0;
        }

    /*=====================================================*/
    #footer-menu {
        display: none;
        }
    }

@media (max-width: 425px) {
    .catalog__services {
        padding: 5px;
        }

    .service__text p {
        width: 100%;
        }
    }


@media (max-width: 375px) {
    .logo {
        flex:     0 0 45px;
        overflow: hidden;
        }

    /*=====================================================*/
    .reviews__item {
        background-image: url("../img/podramnik320.png");
        padding:          10px;
        width:            275px;
        height:           365px;
        }

    /*=====================================================*/
    .why__items {
        gap: 44px;
        }

    /*=====================================================*/
    .item__body {
        padding: 70px 0 0 22px;
        }

    .item__review {
        font-weight: 400;
        line-height: 20px;
        }

    /*=====================================================*/
    .card__text {
        width:              196px;
        overflow:           hidden;
        display:            -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height:        1.3em;
        height:             3.9em;
        }
    }