.delivery {
    padding: 125px 0 50px 0;
    }

.delivery__container {
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     center;
    gap:             50px;
    }

.delivery__options {
    width:           100%;
    display:         flex;
    flex-wrap:       wrap;
    justify-content: space-around;
    align-items:     flex-start;
    gap:             50px;
    }

.delivery__col {
    max-width:       600px;
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     center;
    gap:             25px;

    font-weight:     700;
    font-size:       calc(10px + 18 * (100vw / 1920));
    line-height:     35px;
    letter-spacing:  0.19em;

    padding-bottom:  50px;

    color:           #000;
    }

.delivery__col a {
    font-weight: 400;
    letter-spacing: 0;
    font-size:   18px;
    text-align: center;
    line-height: 23px;
    color:       #585858;
    }

.delivery__col h5 {
    text-transform: uppercase;
    }

.delivery__col a:hover {
    transition: all .3s;
    color:      #FD9652;
    }
