.header__body {
    display:     flex;
    align-items: center;

    height:      75px;
    }

.header__menu {
    flex: 1 1 auto;
    }

.header__burger {
    display: none;
    }

/*=====================================================*/

.menu {
    display:         flex;
    justify-content: flex-end;
    padding:         8px 15px;
    }

.menu__list {
    display: flex;
    gap:     75px;
    }

.menu__item {
    text-transform: uppercase;
    font-weight:    400;
    font-size:      16px;
    line-height:    2;
    }

.menu__link.active {
    font-weight:    700;
    color:      #DA7736;
    transition: all .3s;
    }

.menu__link:hover {
    display:    block;
    color:      #DA7736;
    transform:  scale(1.08);
    transition: all .3s;
    }

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    }
